book/_build/
*.nc
*.csv
.ipynb_checkpoints/
euro2k_data
pages2k_data
euro2k_data.unzip/
pages2k_data.unzip/
*.pyc
**/.DS_Store
tutorials/.DS_Store
ci/
euro2k_data.unzip/Euro2k/Arc-AkademiiNaukIceCap.Opel.2013.lpd
euro2k_data.unzip/Euro2k/Arc-Forfjorddalen.McCarroll.2013.lpd
euro2k_data.unzip/Euro2k/Arc-GulfofAlaska.Wilson.2014.lpd
euro2k_data.unzip/Euro2k/Arc-Indigirka.Hughes.1999.lpd
euro2k_data.unzip/Euro2k/Arc-Jamtland.Wilson.2016.lpd
euro2k_data.unzip/Euro2k/Arc-Kittelfjall.Bjorklund.2012.lpd
euro2k_data.unzip/Euro2k/Arc-PolarUrals.Wilson.2015.lpd
euro2k_data.unzip/Euro2k/Arc-Tjeggelvas.Bjorklund.2012.lpd
euro2k_data.unzip/Euro2k/Arc-Tornetrask.Melvin.2012.lpd
euro2k_data.unzip/Euro2k/Eur-CentralandEasternPyrenees.Pla.2004.lpd
euro2k_data.unzip/Euro2k/Eur-CentralEurope.Dobrovoln.2009.lpd
euro2k_data.unzip/Euro2k/Eur-CoastofPortugal.Abrantes.2011.lpd
euro2k_data.unzip/Euro2k/Eur-EasternCarpathianMountains.Popa.2008.lpd
euro2k_data.unzip/Euro2k/Eur-EuropeanAlps.Bntgen.2011.lpd
euro2k_data.unzip/Euro2k/Eur-FinnishLakelands.Helama.2014.lpd
euro2k_data.unzip/Euro2k/Eur-LakeSilvaplana.Larocque-Tobler.2010.lpd
euro2k_data.unzip/Euro2k/Eur-LakeSilvaplana.Trachsel.2010.lpd
euro2k_data.unzip/Euro2k/Eur-Ltschental.Bntgen.2006.lpd
euro2k_data.unzip/Euro2k/Eur-MaritimeFrenchAlps.Bntgen.2012.lpd
euro2k_data.unzip/Euro2k/Eur-NorthernScandinavia.Esper.2012.lpd
euro2k_data.unzip/Euro2k/Eur-NorthernSpain.Martn-Chivelet.2011.lpd
euro2k_data.unzip/Euro2k/Eur-RAPiD-17-5P.Moffa-Sanchez.2014.lpd
euro2k_data.unzip/Euro2k/Eur-Seebergsee.Larocque-Tobler.2012.lpd
euro2k_data.unzip/Euro2k/Eur-SpanishPyrenees.Dorado-Linan.2012.lpd
euro2k_data.unzip/Euro2k/Eur-SpannagelCave.Mangini.2005.lpd
euro2k_data.unzip/Euro2k/Eur-Stockholm.Leijonhufvud.2009.lpd
euro2k_data.unzip/Euro2k/Eur-Tallinn.Tarand.2001.lpd
euro2k_data.unzip/Euro2k/Eur-TatraMountains.Bntgen.2013.lpd
euro2k_data.unzip/Euro2k/Ocn-AqabaJordanAQ18.Heiss.1999.lpd
euro2k_data.unzip/Euro2k/Ocn-AqabaJordanAQ19.Heiss.1999.lpd
euro2k_data.unzip/Euro2k/Ocn-RedSea.Felis.2000.lpd
euro2k_data.unzip/__MACOSX/._Euro2k
euro2k_data.unzip/__MACOSX/Euro2k/._Arc-AkademiiNaukIceCap.Opel.2013.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Arc-Forfjorddalen.McCarroll.2013.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Arc-GulfofAlaska.Wilson.2014.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Arc-Indigirka.Hughes.1999.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Arc-Jamtland.Wilson.2016.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Arc-Kittelfjall.Bjorklund.2012.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Arc-PolarUrals.Wilson.2015.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Arc-Tjeggelvas.Bjorklund.2012.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Arc-Tornetrask.Melvin.2012.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-CentralandEasternPyrenees.Pla.2004.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-CentralEurope.Dobrovoln.2009.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-CoastofPortugal.Abrantes.2011.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-EasternCarpathianMountains.Popa.2008.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-EuropeanAlps.Bntgen.2011.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-FinnishLakelands.Helama.2014.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-LakeSilvaplana.Larocque-Tobler.2010.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-LakeSilvaplana.Trachsel.2010.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-Ltschental.Bntgen.2006.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-MaritimeFrenchAlps.Bntgen.2012.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-NorthernScandinavia.Esper.2012.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-NorthernSpain.Martn-Chivelet.2011.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-RAPiD-17-5P.Moffa-Sanchez.2014.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-Seebergsee.Larocque-Tobler.2012.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-SpanishPyrenees.Dorado-Linan.2012.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-SpannagelCave.Mangini.2005.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-Stockholm.Leijonhufvud.2009.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-Tallinn.Tarand.2001.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Eur-TatraMountains.Bntgen.2013.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Ocn-AqabaJordanAQ18.Heiss.1999.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Ocn-AqabaJordanAQ19.Heiss.1999.lpd
euro2k_data.unzip/__MACOSX/Euro2k/._Ocn-RedSea.Felis.2000.lpd
euro2k_data
tutorials/.DS_Store
tutorials/.DS_Store
tutorials/.DS_Store
tutorials/.DS_Store
environment copy.yml
tutorials/.DS_Store
*.lpd
tutorials/W1D4_Paleoclimate/euro2k_data
tutorials/.DS_Store
*.DS_Store
ci/
tutorials/W1D4_Paleoclimate/euro2k_data
*.lpd
*.icloud
