book/_build/
*.nc
*.csv
.ipynb_checkpoints/
pages2k_data
pages2k_data.unzip/
*.pyc
**/.DS_Store
tutorials/.DS_Store
ci/
tutorials/.DS_Store
tutorials/.DS_Store
tutorials/.DS_Store
tutorials/.DS_Store
environment copy.yml
tutorials/.DS_Store
*.lpd
tutorials/W1D4_Paleoclimate/euro2k_data
tutorials/.DS_Store
*.DS_Store
ci/
tutorials/W1D4_Paleoclimate/euro2k_data
*.lpd
*.icloud
