name: docker

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: Docker image tag
        default: latest
  push:
    paths:
      - .github/workflows/docker.yaml
      - Dockerfile
      - environment.yml

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push notebook
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          push: true
          file: Dockerfile
          tags: wesleyban/climatematch-notebook:${{ github.event.inputs.tag || 'latest' }}